/* You can add global styles to this file, and also import other style files */
/* body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
   }*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; } 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
