<div class="main-content">

  <div style="text-align: center;">
    <mat-card class="card" style="margin-bottom: 10px;">

        <mat-card-header >
            <mat-card-title class="mat-h2">Nethken A</mat-card-title>
            <mat-card-subtitle>The parking lot adjacent to the back of Nethken Hall</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a mat-button routerLink="/home">Back</a>
        </mat-card-content>  
    </mat-card>
  </div> 
  <div style="text-align: center; margin-top: 30px;">
    <mat-progress-spinner style="margin:0 auto;" *ngIf="isLoading"
    [mode]="mode"
    [value]="value"
    [diameter]=20
></mat-progress-spinner>

  </div>
  
  <div *ngIf="!isLoading" style=" height: 100px; padding-left: 15px;" >
    <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      id="svg8"
      version="1.1"
      viewBox="0 0 210 297"
      height="100mm"
      width="100mm">
      <defs
        id="defs2" />
      <metadata
        id="metadata5">

      </metadata>
      <g
      id="layer2"
      (click)="selectId(1)">
    <rect
        y="13.612826"
        x="9.4382782"
        height="49.136898"
        width="32.072338"
        id="spot1"
        [ngClass]="isOccupied(1) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(2) ? 'takenSpot' : 'openSpot'"
        id="spot2"
        width="32.072338"
        height="49.136898"
        x="41.510616"
        y="13.612826" />
    <rect
        y="13.612823"
        x="73.582962"
        height="49.136898"
        width="32.072338"
        id="spot3"
        [ngClass]="isOccupied(3) ? 'takenSpot' : 'openSpot'" />
    <rect
        y="106.43674"
        x="9.7055464"
        height="49.136898"
        width="32.072338"
        id="spot7"
        [ngClass]="isOccupied(7) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(8)? 'takenSpot' : 'openSpot'"
        id="spot8"
        width="32.072338"
        height="49.136898"
        x="41.777885"
        y="106.43674" />
    <rect
        y="106.43672"
        x="73.850227"
        height="49.136898"
        width="32.072338"
        id="spot9"
        [ngClass]="isOccupied(9) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(10) ? 'takenSpot' : 'openSpot'"
        id="spot10"
        width="32.072338"
        height="49.136898"
        x="105.92257"
        y="106.43672" />
    <rect
        y="106.43672"
        x="137.9949"
        height="49.136898"
        width="32.072338"
        id="spot11"
        [ngClass]="isOccupied(11) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(12) ? 'takenSpot' : 'openSpot'"
        id="spot12"
        width="32.072338"
        height="49.136898"
        x="170.06725"
        y="106.43672" />
    <rect
        y="152.593"
        x="7.4376907"
        height="49.136898"
        width="32.072338"
        id="spot13"
        [ngClass]="isOccupied(13) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(14) ? 'takenSpot' : 'openSpot'"
        id="spot14"
        width="32.072338"
        height="49.136898"
        x="39.510029"
        y="152.593" />
    <rect
        y="152.86024"
        x="74.117516"
        height="49.136898"
        width="32.072338"
        id="spot15"
        [ngClass]="isOccupied(15) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(16) ? 'takenSpot' : 'openSpot'"
        id="spot16"
        width="32.072338"
        height="49.136898"
        x="103.92199"
        y="152.86024" />
    <rect
        y="153.12752"
        x="136.26158"
        height="49.136898"
        width="32.072338"
        id="spot17"
        [ngClass]="isOccupied(17) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(18) ? 'takenSpot' : 'openSpot'"
        id="spot18"
        width="32.072338"
        height="49.136898"
        x="170.60178"
        y="153.12752" />
    <rect
        y="244.61505"
        x="74.384773"
        height="49.136898"
        width="32.072338"
        id="spot19"
        [ngClass]="isOccupied(19) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(20) ? 'takenSpot' : 'openSpot'"
        id="spot20"
        width="32.072338"
        height="49.136898"
        x="106.45712"
        y="244.61505" />
    <rect
        [ngClass]="isOccupied(4) ? 'takenSpot' : 'openSpot'"
        id="spot4"
        width="32.072338"
        height="49.136898"
        x="105.6553"
        y="13.612822" />
    <rect
        y="13.612822"
        x="137.72763"
        height="49.136898"
        width="32.072338"
        id="spot5"
        [ngClass]="isOccupied(5) ? 'takenSpot' : 'openSpot'" />
    <rect
        [ngClass]="isOccupied(6) ? 'takenSpot' : 'openSpot'"
        id="spot6"
        width="32.072338"
        height="49.136898"
        x="169.79997"
        y="13.612818" />
    </g>
    <g
      id="layer1">
    <rect
        y="13.612827"
        x="7.1704211"
        height="49.136902"
        width="2.2678571"
        id="rect4928"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect4957"
        width="2.2678571"
        height="49.136902"
        x="39.242764"
        y="13.612825" />
    <rect
        transform="scale(1,-1)"
        y="-15.524403"
        x="7.1704211"
        height="1.9115779"
        width="34.340199"
        id="rect4959"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect4961"
        width="2.2678571"
        height="49.136902"
        x="39.242764"
        y="13.612825" />
    <rect
        y="13.612822"
        x="71.315102"
        height="49.136902"
        width="2.2678571"
        id="rect4963"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect4965"
        width="34.340199"
        height="1.9115779"
        x="39.242764"
        y="-15.5244"
        transform="scale(1,-1)" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect4967"
        width="2.2678571"
        height="49.136902"
        x="71.315102"
        y="13.612822" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect4971"
        width="34.340199"
        height="1.9115779"
        x="71.315102"
        y="-15.524397"
        transform="scale(1,-1)" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect4993"
        width="2.2678571"
        height="49.136902"
        x="7.4376907"
        y="152.59299" />
    <rect
        y="152.59299"
        x="39.510033"
        height="49.136902"
        width="2.2678571"
        id="rect4995"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect4997"
        width="34.340199"
        height="1.9115779"
        x="7.4376907"
        y="-154.50456"
        transform="scale(1,-1)" />
    <rect
        y="152.59299"
        x="39.510033"
        height="49.136902"
        width="2.2678571"
        id="rect4999"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5001"
        width="2.2678571"
        height="49.136902"
        x="71.849648"
        y="152.86024" />
    <rect
        transform="scale(1,-1)"
        y="-154.50456"
        x="39.510033"
        height="1.9115779"
        width="34.340199"
        id="rect5003"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        y="152.86024"
        x="71.849648"
        height="49.136902"
        width="2.2678571"
        id="rect5005"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5007"
        width="2.2678571"
        height="49.136902"
        x="103.92199"
        y="152.86024" />
    <rect
        transform="scale(1,-1)"
        y="-154.77182"
        x="71.849648"
        height="1.9115779"
        width="34.340199"
        id="rect5009"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5011"
        width="2.2678571"
        height="49.136902"
        x="103.92199"
        y="152.86024" />
    <rect
        y="153.12752"
        x="136.2616"
        height="49.136902"
        width="2.2678571"
        id="rect5013"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5015"
        width="34.340199"
        height="1.9115779"
        x="103.92199"
        y="-154.77182"
        transform="scale(1,-1)" />
    <rect
        y="153.12752"
        x="136.2616"
        height="49.136902"
        width="2.2678571"
        id="rect5017"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5019"
        width="2.2678571"
        height="49.136902"
        x="136.2616"
        y="153.12752" />
    <rect
        y="153.12752"
        x="168.33392"
        height="49.136902"
        width="2.2678571"
        id="rect5021"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5023"
        width="34.340199"
        height="1.9115779"
        x="136.2616"
        y="-155.03909"
        transform="scale(1,-1)" />
    <rect
        y="153.12752"
        x="168.33392"
        height="49.136902"
        width="2.2678571"
        id="rect5025"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5027"
        width="2.2678571"
        height="49.136902"
        x="200.67355"
        y="153.39479" />
    <rect
        transform="scale(1,-1)"
        y="-155.03909"
        x="168.33392"
        height="1.9115779"
        width="34.340199"
        id="rect5029"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        transform="scale(-1,1)"
        y="106.43672"
        x="-9.7055464"
        height="49.136902"
        width="2.2678571"
        id="rect5031"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5033"
        width="2.2678571"
        height="49.136902"
        x="-41.777893"
        y="106.43672" />
    <rect
        transform="scale(-1)"
        y="-155.57362"
        x="-41.777889"
        height="1.9115779"
        width="34.340199"
        id="rect5035"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5037"
        width="2.2678571"
        height="49.136902"
        x="-41.777893"
        y="106.43672" />
    <rect
        transform="scale(-1,1)"
        y="106.16947"
        x="-74.1175"
        height="49.136902"
        width="2.2678571"
        id="rect5039"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5041"
        width="34.340199"
        height="1.9115779"
        x="-73.850227"
        y="-155.57362"
        transform="scale(-1)" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5043"
        width="2.2678571"
        height="49.136902"
        x="-74.1175"
        y="106.16947" />
    <rect
        transform="scale(-1,1)"
        y="106.16947"
        x="-106.18983"
        height="49.136902"
        width="2.2678571"
        id="rect5045"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5047"
        width="34.340199"
        height="1.9115779"
        x="-106.18984"
        y="-155.30637"
        transform="scale(-1)" />
    <rect
        transform="scale(-1,1)"
        y="106.16947"
        x="-106.18983"
        height="49.136902"
        width="2.2678571"
        id="rect5049"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5051"
        width="2.2678571"
        height="49.136902"
        x="-138.52945"
        y="105.90219" />
    <rect
        transform="scale(-1)"
        y="-155.30637"
        x="-138.26219"
        height="1.9115779"
        width="34.340199"
        id="rect5053"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5055"
        width="2.2678571"
        height="49.136902"
        x="-138.52945"
        y="105.90219" />
    <rect
        transform="scale(-1,1)"
        y="105.90219"
        x="-138.52945"
        height="49.136902"
        width="2.2678571"
        id="rect5057"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5059"
        width="2.2678571"
        height="49.136902"
        x="-170.60178"
        y="105.90219" />
    <rect
        transform="scale(-1)"
        y="-155.03909"
        x="-170.60179"
        height="1.9115779"
        width="34.340199"
        id="rect5061"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        transform="scale(-1,1)"
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5063"
        width="2.2678571"
        height="49.136902"
        x="-170.60178"
        y="105.90219" />
    <rect
        transform="scale(-1,1)"
        y="105.63492"
        x="-202.94141"
        height="49.136902"
        width="2.2678571"
        id="rect5065"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5067"
        width="34.340199"
        height="1.9115779"
        x="-202.67412"
        y="-155.03909"
        transform="scale(-1)" />
    <rect
        transform="scale(1,-1)"
        y="-292.68289"
        x="72.11692"
        height="1.9115779"
        width="34.340199"
        id="rect5086"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5088"
        width="34.340199"
        height="1.9115779"
        x="104.18925"
        y="-292.68289"
        transform="scale(1,-1)" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5090"
        width="2.2678571"
        height="49.136902"
        x="-74.384773"
        y="244.61507"
        transform="scale(-1,1)" />
    <rect
        y="244.61507"
        x="-106.45712"
        height="49.136902"
        width="2.2678571"
        id="rect5092"
        style="fill:#000000;stroke-width:0.26458332"
        transform="scale(-1,1)" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect5094"
        width="34.340199"
        height="1.9115779"
        x="-106.45712"
        y="-293.75195"
        transform="scale(-1)" />
    <rect
        y="244.61507"
        x="-106.45712"
        height="49.136902"
        width="2.2678571"
        id="rect5096"
        style="fill:#000000;stroke-width:0.26458332"
        transform="scale(-1,1)" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5098"
        width="2.2678571"
        height="49.136902"
        x="-138.79672"
        y="244.34781"
        transform="scale(-1,1)" />
    <rect
        transform="scale(-1)"
        y="-293.75195"
        x="-138.52945"
        height="1.9115779"
        width="34.340199"
        id="rect5100"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        y="244.34781"
        x="-138.79672"
        height="49.136902"
        width="2.2678571"
        id="rect5102"
        style="fill:#000000;stroke-width:0.26458332"
        transform="scale(-1,1)" />
    <rect
        y="13.612826"
        x="9.4382782"
        height="49.136898"
        width="29.804485"
        id="rect5104"
        style="fill:#f2f2f2;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        y="13.612826"
        x="9.4382782"
        height="49.136898"
        width="29.804485"
        id="rect5106"
        style="fill:#000000;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        y="20.376038"
        x="11.492589"
        height="35.814117"
        width="20.847023"
        id="rect5108"
        style="fill:#cccccc;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        y="20.376038"
        x="11.492589"
        height="25.925146"
        width="11.759859"
        id="rect5110"
        style="fill:#cccccc;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        y="20.376038"
        x="11.492589"
        height="42.373688"
        width="27.750175"
        id="rect5112"
        style="fill:#4d4d4d;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        y="20.376038"
        x="11.492589"
        height="42.373688"
        width="27.750175"
        id="rect5114"
        style="fill:#999999;fill-opacity:0;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect5997"
        width="2.2678571"
        height="49.136902"
        x="103.38744"
        y="13.612823" />
    <rect
        y="13.612821"
        x="135.45978"
        height="49.136902"
        width="2.2678571"
        id="rect5999"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.20307112"
        id="rect6001"
        width="34.340199"
        height="1.9115779"
        x="103.38744"
        y="-15.524398"
        transform="scale(1,-1)" />
    <rect
        y="13.612821"
        x="135.45978"
        height="49.136902"
        width="2.2678571"
        id="rect6003"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect6005"
        width="2.2678571"
        height="49.136902"
        x="167.5321"
        y="13.612817" />
    <rect
        transform="scale(1,-1)"
        y="-15.524395"
        x="135.45978"
        height="1.9115779"
        width="34.340199"
        id="rect6007"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        y="13.612817"
        x="167.5321"
        height="49.136902"
        width="2.2678571"
        id="rect6009"
        style="fill:#000000;stroke-width:0.26458332" />
    <rect
        transform="scale(1,-1)"
        y="-15.524392"
        x="167.5321"
        height="1.9115779"
        width="34.340199"
        id="rect6011"
        style="fill:#000000;stroke-width:0.20307112" />
    <rect
        style="fill:#f2f2f2;fill-opacity:0;stroke-width:0.26458332"
        id="rect6013"
        width="29.804485"
        height="49.136898"
        x="105.6553"
        y="13.612822" />
    <rect
        style="fill:#000000;fill-opacity:0;stroke-width:0.26458332"
        id="rect6015"
        width="29.804485"
        height="49.136898"
        x="105.6553"
        y="13.612822" />
    <rect
        style="fill:#cccccc;fill-opacity:0;stroke-width:0.26458332"
        id="rect6017"
        width="20.847023"
        height="35.814117"
        x="107.70961"
        y="20.376034" />
    <rect
        style="fill:#cccccc;fill-opacity:0;stroke-width:0.26458332"
        id="rect6019"
        width="11.759859"
        height="25.925146"
        x="107.70961"
        y="20.376034" />
    <rect
        style="fill:#4d4d4d;fill-opacity:0;stroke-width:0.26458332"
        id="rect6021"
        width="27.750175"
        height="42.373688"
        x="107.70961"
        y="20.376034" />
    <rect
        style="fill:#999999;fill-opacity:0;stroke-width:0.26458332"
        id="rect6023"
        width="27.750175"
        height="42.373688"
        x="107.70961"
        y="20.376034" />
    <rect
        style="fill:#000000;stroke-width:0.26458332"
        id="rect6025"
        width="2.2678571"
        height="49.136902"
        x="199.60446"
        y="13.612813" />
    </g>
    </svg>
  </div>
</div>
