<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="padding-bottom: 0; margin-bottom: 0;">
    {{ title }}
  </h1>
  <h3 style="color:darkgrey; margin-top: -10px;" class="mat-h3">A <span style="color:lightcoral">smarter</span> way to park.</h3>
</div>


<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>

<div id="about">
  <button mat-mini-fab routerLink="/about"  [routerLinkActive]="'about-is-active'" class="about-spinner" click="onAboutPage()">?</button>
</div>
