.about {
    position: absolute;
    bottom: 15%;
    right: 2%;
}

.mat-accent {
    background-color: lightcoral;
}

.lots-near-you-card {
    margin-top: 4%;
}

.mat-card-avatar {
    width: 15px;
}

.example-header-image {
    background-size: cover;
}

#globe-icon {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    0% { transform:rotate(0deg) }
    100% { transform:rotate(360deg)}
}