
<div class="main-content">
  <div><h4 class="mat-h4">Find campus parking:</h4></div>



  <div>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title id="LouisianaTechCampus">
          Louisiana Tech
        </mat-panel-title>
      </mat-expansion-panel-header> 
        <mat-list>
            <mat-list-item mat-list-item > <button mat-button routerLink="/nethkenA" routerLinkActive="active" id="NethkenButton">Nethken A</button> </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </div>

  <div>
    <mat-card class="lots-near-you-card">
        <mat-card-header>
          <mat-card-title>Lots Near You:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a mat-button *ngFor="let lot of lots" routerLink={{lot.routerLink}}>
            {{ lot.name }}

          </a>
        </mat-card-content>
      </mat-card>
  </div>
  
</div>