<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <hr/>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">How to use Smart Lot</h2>
</div>
<div style="text-align:left;">
  <p style="margin-left: 10px;">Smart Lot allows you to find parking without the hassle of driving up and down aisles in a lot. <br>
    Simply open the app, select a parking lot near you, and you will be given a bird's eye view of the parking lot from your phone.<br>
    Red spots indicate that the parking spot is taken and green spots indicate available parking.<br>
    Certain spots may be designated different colors depending on the location such as handicap spots or other reserved spots.<br>
  </p>
</div>
<img src="https://drive.google.com/uc?id=1suE8Bj4xY3rdsO4Wqfu1_V97MB31xSwZ" class="center" alt="Smart Lot">

<router-outlet></router-outlet>
