
<div class="main-content">
  <div><h4 class="mat-h4"><strong>Find campus parking:</strong></h4></div>



  <div id="panel-header">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header >
        <mat-panel-title id="LouisianaTechCampus">
          Louisiana Tech
        </mat-panel-title>
      </mat-expansion-panel-header> 
        <mat-list>
            <mat-list-item mat-list-item > <button mat-button routerLink="/nethkena" routerLinkActive="active" id="NethkenButton">NethkenA</button> </mat-list-item>
            <mat-list-item mat-list-item > <button mat-button routerLink="/grahama" routerLinkActive="active" id="NethkenButton">GrahamA</button> </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </div>

  <div>
    <mat-card class="lots-near-you-card">
      
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
              <svg style="width:24px;height:24px;margin-top: 1%;" id="globe-icon" viewBox="0 0 24 24">
                  <path fill="#4bb75b" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
          </div>
          <mat-card-title id="lots-near-you-text">
            Lots Near You:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        
          <div style="text-align: center;">
            <mat-progress-spinner style="margin:0 auto;" *ngIf="isLoading"
                [mode]="mode"
                [value]="value"
                [diameter]=20>
            </mat-progress-spinner>
          </div>
          
          <div *ngIf="!isLoading" >
          <a mat-button *ngFor="let lot of lots" routerLink={{lot.routerLink}}>
            {{ lot.name }}
          </a>
          </div>
          <div style="text-align: left; padding-left: 10px; padding-right: 10px; ">
            <div *ngIf="!geolocation_permission && !isLoading">
              <p>Please allow geolocation permission in order to use this service.</p>
            </div>
  
            <div *ngIf="no_lots && !isLoading">
              <p>There are no Smart Lots near you</p>
            </div>
          </div>
          

        </mat-card-content>
      </mat-card>
  </div>
</div>